        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
            <p>name:<%= user.name%></p>
            <p>Email:<%= user.email%></p>
        </h1>
