<h1>Sign Up page</h1>
<form method="POST" action="/users/create">
    <input type="text" required placeholder="name" name="name" >
    <input type="email" required placeholder="email" name="email" >
    <input type="password" required placeholder="password" name="password" >
    <input type="password" required placeholder="Confirm password" name="confirm_password" >
    <input type="submit"  value="sign up" >
</form>